{% extends 'base.html' %}
{% block start %}

      <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
          <div class="row g-5 py-5">
            <div class="col-12 text-center">
              <h1 class="text-white animated zoomIn">Please add your news carefully</h1>
              <!-- <hr class="bg-white mx-auto mt-0" style="width: 90px;"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar & Hero End -->

        <div class="container-xxl py-5">
          <div class="container px-lg-5">
              <div class="row justify-content-center">
                  <div class="col-lg-7">
                      <div class="wow fadeInUp" data-wow-delay="0.3s">
                          <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                              {% if messages %}
                              {{ message.tags }}
                              <div class="alert alert-primary font-weight-bold" role="alert">
                                  {% for message in messages %}
                                  {{ message }}
                                  {% endfor %}
                              </div>
                              {% endif %}

                              <div class="col">
                                  <div class="col-md-12 my-3">
                                      <div class="form-floating">
                                          <input type="text" name="headline" required class="form-control" id="name" placeholder="News Headline">
                                          <label for="name">News Headline</label>
                                      </div>
                                  </div>
                                  <div class="col-md-12 my-3">
                                      <div class="form-floating">
                                          <input type="link" name="link" required class="form-control" id="email" placeholder="Link">
                                          <label for="link">News link</label>
                                      </div>
                                  </div>
                                  <div class="col-12 my-3">
                                      <div class="form-floating">
                                          <textarea class="form-control" name="summary" placeholder="News Summary" id="message" style="height: 150px"></textarea>
                                          <label for="message">News Summary (max_word = 30) </label>
                                      </div>
                                  </div>

                                  <div class="form-group my-4">
                                    <label for="exampleFormControlFile1">Choose Image for your news</label>
                                    <input type="file" name="image" class="form-control-file" id="exampleFormControlFile1">
                                  </div>

                                  <div class="col-12">
                                      <button class="btn btn-primary w-100 py-3" type="submit">Add My News</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>




    {%endblock%}