{% extends 'base.html' %}
{% block start %}

      <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
          <div class="row g-5 py-5">
            <div class="col-12 text-center">
              <h1 class="text-white animated zoomIn">Find Your Hackathons and Coding Contests</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar & Hero End -->

        <!--Section: News of the day-->
        <div class="container">
          <section class="border-bottom pb-4 mb-5">
            <div class="row gx-5">
              <div class="col-md-6 mb-4">
                <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                  <img src="../static/contest.jpg" class="img-fluid" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>
    
              <div class="col-md-6 mb-4 text-center">
                <span class="badge bg-danger px-2 py-1 mb-3">Contest of the Week</span>
                <h4><strong> Canara DACOE-Thon (Data Analytics) </strong></h4>
                <p style="color: rgb(19, 17, 17);">
                  The objective is to design and implement an advanced analytics-based technology solution stack within the banking industry 
                  to significantly enhance the overall customer experience. By harnessing data analytics, artificial intelligence, and real-time insights, 
                  this solution aims to empower the bank to better understand it's customers, offer personalized services, streamline operations, and proactively address customer needs.
                </p>
                <!-- <button type="button" class="btn btn-primary">Read more</button> -->
                <a type="button" class="btn btn-primary" href="https://canara-dacoethon.hackerearth.com/">Read more</a>
              </div>
            </div>
          </section>
        </div>
        <!--Section: News of the day-->

    <!-- Main body for Backend-Frontend starts-->
    <div class="container-xxl py-5">
      <div class="container px-lg-5">
        <div class="content-container">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" style="text-align: center; color: rgb(19, 17, 17);">S.No.</th>
                <th scope="col" style="text-align: center ; color: rgb(19, 17, 17);">Contest Title</th>
                <th scope="col" style="text-align: center; color: rgb(19, 17, 17);">Website Link</th>
              </tr>
            </thead>

            {% for contest in contest_list_all %}

            <tbody>
              <tr>
                <th scope="row" style="text-align: center; color: rgb(19, 17, 17);">{{forloop.counter}}</th>
                <td style="text-align: center; color: rgb(19, 17, 17);">{{contest.title}}</td>
                <td style="text-align: center;"><a href="{{contest.link}}">Link</a></td>
              </tr>
            </tbody>

            {%endfor%}

          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Main body for Backend-Frontend End -->

  {%endblock%}