<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main_container">
        <div class="head">
            <div><img src="static/contest.png" alt="My image"></div>
            <div id="main">Nagmani Kumar
                <div>Software Engineer</div>
                <div>SRMU, Lucknow, Uttar Pradesh 225003</div>
                <div>+9189697XXXXX | nag2mani@gmail.com</div>
            </div>
        </div>
        <div class="container1">
            <div class="grd"><b>Permanent Address :</b>
                <div>
                    Jaynapiur, Pinbarsha, Sorahi, Bihar 843390
                </div>
            </div>
            <div class="grd"><b>Github :</b>
                <div><a href="https://github.com/nag2mani">https://github.com/nag2mani</a></div>
            </div>
            <div class="grd"><b>Mobile Number:</b>
                <div>
                    +9189697XXXXX
                </div>
            </div>
            <div class="grd"><b>Linkedin :</b>
                <div> <a href="https://www.linkedin.com/in/nag4mani/">https://www.linkedin.com/in/nag4mani/</a></div>
            </div>
        </div>
        <div class="container2">
            <div>
                <div><b>Education :</b></div>
                <ul>
                    <li>10th, 94.4% From JNV Muzaffarpur</li>
                    <li>12th,91.6% From JNV Muzaffarpur</li>
                    <li>IIT JEE 96.6 Percentile from Dakshana Foundation</li>
                    <li>B.Tech CSE from Sitare Universty</li>
                </ul>
            </div>
        </div>
        <div class="container2">
            <div>
                <div><b>Experience :</b></div>
                <ul>
                    <li>Using ML Algorithm predicted GPA for the Upcoming semester.</li>
                    <li>Taught 100+ students about AI Tools using my website neuracave.com</li>
                    <li>Python Project on Color Conversion, Turtle, and Planetoids Game.</li>
                    <li>3 Stars at Hacker Rank.</li>
                </ul>
            </div>
        </div>
        <div class="container2">
            <div>
                <div><b>Achivement :</b></div>
                <ul>
                    <li>Letter of Recommendation from Founder of NOQs Digital.</li>
                    <li>Regional Topper in Goal Talent Search Examination.</li>
                    <li>Selected in India's Best Student Contest Organized by Rao IIT.</li>
                    <li>State Topper in NTSE 2020.</li>
                    <li>Selected for Dakshana Foundation Scholarship.</li>
                    <li>Selected for Sitare Foundation Scholarship.</li>
                    <li>Selected for MI Scholarship.</li>
                </ul>
            </div>
        </div>
        <div class="container2">
            <div>
                <div><b>Interest :</b></div>
                <div class="button-container">
                    <button class="button">Entrepreneurship</button>
                    <button class="button">Content Creation</button>
                    <button class="button">Reading Books</button>
                    <button class="button">playing</button>
                  </div>
            </div>
    </div>

    <!-- Experiments with sending data from backend to frontend -->
    <div style="margin: 30px; background-color: rgb(214, 124, 124);">
        {{my_dict}}
    </div>
    <div style="margin: 30px; background-color: rgb(130, 124, 214);">
        {{text}}
    </div>

        <table>
            <tr>
                <th>s.no</th>
                <th>Name</th>
                <th>Age</th>
                <th>Can Vote</th>
            </tr>
    
            {% for people in my_dict %}
            <tr>
                <td>
                    {{forloop.counter}}
                    <!-- {{ text |truncatechars:10 }} -->
                </td>
                <td>{{people.name}}</td>
                <td>{{people.age}}</td>
                <td {% if people.age <= 18 %} style = "background-color: rgb(204, 55, 14)" {%endif%}>
                    {%if people.age > 18 %}
                    yes
                    {%else%}
                    No
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </table>

        <div>
            <h1>this is home page</h1>
            <a href="service/"> Service page | </a>
            <a href="contact/"> Contact page</a>
        </div>
</body>
</html>




