annotated-types==0.6.0
asgiref==3.7.2
asttokens==2.4.1
autograd==1.6.2
bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
blis==0.7.11
bs4==0.0.2
catalogue==2.0.10
certifi==2020.6.20
chardet==4.0.0
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.4
comm==0.2.1
confection==0.1.4
contourpy==1.2.0
cryptography==3.4.8
dj-database-url==2.1.0
Django==5.0.1
executing==2.0.1
fonttools==4.47.2
gunicorn==21.2.0
httplib2==0.20.2
importlib-metadata==4.6.4
ipykernel==6.29.0
ipython==8.20.0
matplotlib==3.8.2
nltk==3.8.1
numpy==1.26.3
oauthlib==3.2.0
olefile==0.46
packaging==23.2
pandas==2.2.0
paramiko==2.9.3
parso==0.8.3
pexpect==4.8.0
Pillow==9.0.1
protobuf==3.12.4
psutil==5.9.8
psycopg2==2.9.9
python-dotenv==1.0.1
razorpay==1.4.1
requests==2.25.1
urllib3==1.26.5
whitenoise==6.6.0

