asgiref==3.7.2
beautifulsoup4==4.12.3
bs4==0.0.2
dj-database-url==2.1.0
Django==5.0.1
fonttools==4.47.2
gunicorn==21.2.0
matplotlib==3.8.2
nltk==3.8.1
numpy==1.26.3
pandas==2.2.0
python-dotenv==1.0.1
razorpay==1.4.1
requests==2.25.1
urllib3==1.26.5
whitenoise==6.6.0



